ENDPOINT=https://main.example.com
PORT=8080
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
APP_NAME=URL Forge
ALLOW_ORIGINS=*
# SHUTDOWN_TIMEOUT=5s
# OGP_FETCH_TIMEOUT=5s
# DEFAULT_ID_LENGTH=6
# MAX_ID_LENGTH=100
# MAX_RETRY_COUNT=10
# BOT_USER_AGENTS=bot,crawler,spider,facebookexternalhit,twitterbot,slackbot,discordbot,whatsapp,line-poker
